.err{
    color: $off-white;
    font-style: italic;
    padding: 0 $sm;
    margin:$sm 0 0 0;
}

.form{
    display: flex;
    padding: $big-font;
    flex-direction: column;
}

.ip{
    background: $blue;
    border: none;
    border-bottom: 0.3rem solid darken($blue, 10%);
    flex-grow: 1;
    color: white;
    padding: $sm;
    font-size:$small-font;
    margin:0 0 $sm 0;
}

@media(min-width:45rem){
    .form{
        flex-direction: row;
    }

    .ip{
        margin:0 $sm 0 0;
    }
}

